<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>JFAnalyticsClient.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>JFiOSAnalytics.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>JFiOSAnalyticsTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1A9458F417B537A500E39C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A94590517B537A500E39C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1A94592317B53A4400E39C32</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE636DE1C85EDFA00A1D8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1AE636E71C85EDFA00A1D8CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
